<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CurrentLogger" value="Practice.Client.FileLogger" />
    <!--<add key="trunkRepository" value="Practice.Common.InMemoryTrunkRepository, Practice.Common" />
    <add key="carRepository" value="Practice.Common.InMemoryCarRepository, Practice.Common" />
    <add key="typeRepository" value="Practice.Common.InMemoryTypeRepository, Practice.Common" />
    <add key="infoRepository" value="Practice.Common.InMemoryInfoRepository, Practice.Common" />-->
	  
    <add key="trunkRepository" value="Practice.Common.XmlTrunkRepository, Practice.Common" />
    <add key="carRepository" value="Practice.Common.XmlCarRepository, Practice.Common" />
    <add key="typeRepository" value="Practice.Common.XmlTypeRepository, Practice.Common" />
    <add key="infoRepository" value="Practice.Common.XmlInfoRepository, Practice.Common" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>